body {
    /* Default styles for the light theme */
  }

  body.dark-theme {
    /* Styles for the dark theme */
    background-color: #333;
    color: #fff;
  }

  /* Additional styles for the theme switch */
  .custom-control-label::before {
    background-color: #fff;
  }

  .custom-control-input:checked~.custom-control-label::before {
    background-color: #000;
  }