/* Default light theme styles */

@font-face {
  font-family: OpenSans;
  src: url(OpenSans.ttf);
}

body {
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 110%;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

iframe {
  width: 100%;
  height: 315px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  background-color: #f8f9fa;
  color: #000000;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer a {
  color: #000000;
}
footer p {
  margin-bottom: 0;
}

.container-fluid {
  padding: 0;
}
.btnYoutube {
  margin-top: 5px;
}

.card {
  background-color: #f8f9fa;
  color: #000000;
}

.about-image {
  padding: 0;
  border: 1px solid #007bff;
}

.about-image:hover {
  background-color: #007bff;
  border: 0;
}

.btn {
  border-radius: 3px;
}

.text-left {
  text-align: left;
}

#hello {
  font-size: 125%;
}
#name {
  font-size: 600%;
  font-weight: bold;
}
#catch {
  font-size: 300%;
  font-weight: 600;
}
#btnProjects {
  font-size: 130%;
  padding: 15px 35px;
  margin-top: 15px;
}

#ctaDown {
  cursor: pointer;
}

#logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.arrow-container {
  width: 100%;
  text-align: center;
  height: 100px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

#ctaDown {
  color: #007bff;
  position: absolute;
  bottom: 1%;
  font-size: 175%;
  transform: translate(-50%, -50%);
  animation: moveUpDown 2s infinite;
}

/* Skills */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
}

.skills-column {
  padding-left: 40%;
  text-align: left;
}

.skills-list {
  padding: 0;
}

.skills-list li {
  position: relative;
  padding-left: 20px;
}

.skills-list li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(55deg);;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 8px solid #007bff;
}

.skills-list li {
  margin-bottom: 10px;
}

/* CTA */

.btn-cta{
  width: 200px;
  margin: 13px 0;
}

#btnLinkedin:active, #btnLinkedin:hover {
  border-color: #0E76A8;
  background: #0E76A8;
}

#btnTelegram:active, #btnTelegram:hover {
  border-color:#27A5E7;
  background:#27A5E7;
}

/* Dark theme styles */
body.dark-theme {
  background-color: #343a40;
  color: #ffffff;
}

body.dark-theme .card {
  background-color: inherit;
  color: #ffffff;
}


body.dark-theme footer {
  background-color: #424a52;
  color: #ffffff;
}

body.dark-theme footer a {
  color: #ffffff;
}

/* Scroller */

.vertical-center {
  text-align:center;
  width:100%;
  position: absolute;
  top: 47%;
  transform: translateY(-47%);
}

.inner {
  position: relative;
  height:100%;
  width:80%;
  margin:0 auto;
}

.sideActions {
  position:fixed;
  right:20px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  font-size:1.4em;
  z-index: 10;
}

.pagination, .actions {
  display: block;
}
.pagination a, .actions a {
  display:block;
  height:25px;
  margin-bottom:5px;
  color:rgba(0,0,0,.5);
  position:relative;
  padding:12px;
}
.actions a span, .actions a img {
  width:15px;
  height:15px;
  display: block;
  position: absolute;
  margin:auto;
  top:0;
  right:4px;
  bottom:0;
}
.actions a img {
  width:20px;
  right:2px;
}
.actions a span.fa {
  font-size: 20px;
  top: -5px;
}
.actions a span.fa-sun {
  right: 7px;
}

body.dark-theme .pagination a, body.dark-theme .actions a {
  color:white;
}
.pagination a.active:after, .actions a.active:after {
  box-shadow:inset 0 0 0 10px;
}
.pagination a .hover-text, .actions a .hover-text {
  font-size: 75%;
  position:absolute;
  right:15px;
  top:-2px;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
  width: auto;
  white-space: nowrap;
  margin: 0;
}
.pagination a:hover .hover-text, .actions a:hover .hover-text {
  opacity: 1;
}
.pagination a:after {
  -webkit-transition:box-shadow 0.5s ease;
  transition:box-shadow 0.5s ease;
  width:15px;
  height:15px;
  display: block;
  border:1px solid;
  border-radius:50%;
  content:'';
  position: absolute;
  margin:auto;
  top:0;
  right:4px;
  bottom:0;
}

@media (max-width:800px) {
  body {
    font-size: 80%;
  }
  #hello {
    font-size: 110%;
  }
  #name {
    font-size: 325%;
    font-weight: bolder;
  }
  #catch {
    font-size: 150%;
    font-weight: 600;
  }
  #btnProjects {
    font-size: 110%;
  }
  .inner {
    width:70%;
  }
  .skills-column {
    padding: 0;
  }
  .hover-text {
    display: none !important;
  }
  .about-content p {
    font-size: smaller;
  }
  .btn-xs-block  {
    width: 100%;
  }
}
